.container{
  padding:1rem;
}
.navbar-container{
  background-color: #6c6c6c;
  position: fixed;
  width: 100%;
  top:0;
}
.navbar{
  max-width: 1440px;
  margin: 0 auto;
  padding:1rem 1.5rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap:3rem;
  width: 100%;
}
.navbar > h2{
  color:lightgray;
}
.navbar > a{
  text-decoration: none;
  color:darkgray;
}
.login{
  margin-left:auto;
}
.main-section{
  display: flex;
  max-width: 1440px;
  align-items: flex-start;
  background-color: lightgray;
  padding: 1rem;
  margin:  116px auto auto auto;
  gap:1rem;
  border-radius: 4px;
}
.main-section>img{
  background-color: #b0b0b0;
}
.main-desc{
  display: flex;
  flex-direction: column;
  gap:1.5rem;
}
.main-desc > h2{
  margin:0;
}
.button{
  padding: 0.5rem 2.5rem;
  background-color: rgb(59, 59, 59);
  width: fit-content;
  color: lightgray;
  cursor: pointer;
}
.main-desc > .list{
  display: flex;
  gap:1rem;
}
.list > .label{
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.list > .data{
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.content-section{
  max-width: 1440px;
  border-bottom: 1px solid;
  margin: 0 auto;
}
.next-section{
  background-color: lightgray;
  padding: 0.5rem 1rem;
  margin:1rem;
  border-radius: 4px;
}
.about-section{
  padding: 0.5rem 1rem;
}
.see-more{
  display: flex;
  align-items: center;
}
.see-more > a{
  text-decoration: none;
  color: black;
  margin-left: auto;
}
.member-section{
  display: flex;
  background-color: lightgray;
  padding: 1rem 1rem;
  margin: 1rem;;
  gap:1rem;
  align-items: center;
  border-radius: 4px;
}
.member-section>img{
  background-color: gray;
  border-radius: 100%;
}
.member-section > .member-details{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.member-details > .detail{
  display: flex;
  gap:2rem;
}
.past-section{
  display: flex;
  gap:5rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;;
}
.past{
  display: flex;
  flex-direction: column;
  padding:1rem;
  gap:0.5rem;
  background-color: lightgray;
  border-radius: 4px;;
}